body {
    background-color: white;
}

header {
    background-color: black;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

header a {
    color: white;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

section {
    overflow: hidden;   /* head */
    width: 100%;

}

.section-container {
    margin: 0 auto;
}

canvas {
    display: block;
}

.intro-greeting {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

.featured-section {
    background-color: #407CF7;
}

.project-section {
    min-height: 100vh;
}

input[id="tab01"]:checked ~ .con01 { display: block; }
input[id="tab02"]:checked ~ .con02 { display: block; }
input[id="tab03"]:checked ~ .con03 { display: block; }

input[type="radio"] {display: none;}

input[type="radio"] + label {
    font-weight: 700;
    color: lightgray;
}

input[type="radio"] + label:hover {
    cursor: pointer;
    color: black;
}

input[type="radio"]:checked + label {
    color: black;
}

.project-container {
  width: 100%;
  display: none;
}

.project-item{
    display: grid;
    gap: 1em 4em;
    padding: 0;
    list-style: none;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
}

.project-item a {
    text-decoration: none;
    color: black;
}

.project-item img {
    width: 100%;
    height: 100%;
    margin: 1em 0;
    border-radius: 1em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.project-item span, time {
    color: lightgray;
}

.project-item h3 {
    font-weight: 600;
    margin: 0.2em 0;
}

.project-wrapper:hover img{
    box-shadow: 0 0.5em 1em lightgray;
    transform: translateY(-0.5em);
}

.project-wrapper:hover h3{
    color: #407CF7;
}

/* RESPONSIVE SIZE ***********************************/
/*****************************************************/

/* > 1680 */
.section-container {width: 1680px; padding: 8em;}
.intro-greeting {font-size: 2.5rem;}
input[type="radio"] + label {font-size: 2rem; margin-right: 2em;}
.project-item {grid-template-columns: 1fr 1fr 1fr;}

/* < 1680 */
@media(max-width: 1679px){
    .section-container {width: 100%;}
    .intro-greeting {font-size: calc(1.2rem + 1.2vw); width: 80%;}
    input[type="radio"] + label {font-size: calc(1rem + 1vw);}
}
/* < 600 */
@media(max-width: 599px){
    .section-container {width: 100%; padding: 2em;}
    .intro-greeting {font-size: 1.5rem; width: 80%;}
    input[type="radio"] + label {font-size: 1.5rem; margin-right: 1em;}
    .project-item {grid-template-columns: 1fr;}
}