/* FONT **********************************************/
/*****************************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

.font-sans-serif-en {
    font-family: 'Poppins', sans-serif;
}

.font-sans-serif-kr {
    font-family: 'IBM Plex Sans KR', sans-serif;
}


/* BODY **********************************************/
/*****************************************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* HEADER ********************************************/
/*****************************************************/

header {
    width: 100%;
    height: 4em;
    top: 0;
    position: fixed;
    z-index: 1;
}

header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: inherit;
}

header a {
    text-decoration: none;
}

header .logo {
    font-size: 1.1rem;
}

header ul {
    padding: 0;
    display: flex;
    list-style: none;
}
  
header li {
    font-size: 1rem;
    font-weight: 500;
}

header .current {
    text-decoration-line: underline;
    text-decoration-color: #407CF7;
    text-decoration-thickness: 3px;
    text-underline-position: under;
}


/* FOOTER ********************************************/
/*****************************************************/

footer {
    width: 100%;
    height: 10em;
    background-color: black;
  }
  
  footer .footer-bar {
    margin: auto;
    display: flex;
    height: inherit;
  }
  
  footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  footer .copyright {
    font-size: 1em;
    font-weight: 300;
    color: white;
    margin-bottom: 1em;
  }
  
  footer .sns-wrapper {
    display: flex;
  }
  
  footer img {
    width: 3em;
    height: auto;
    padding-right: 1em;
  }


/* RESPONSIVE SIZE ***********************************/
/*****************************************************/

/* > 1680 */
header .nav-bar {width: 1680px; padding: 0 8em;}
header li {padding-left: 5em;}
footer .footer-bar {width: 1680px; padding: 0 8em;}

/* < 1680 */
@media(max-width: 1679px){
    header .nav-bar {width: 100%;}
    footer .footer-bar {width:100%;}
}

/* < 600 */
@media(max-width: 599px){
    header .nav-bar {width: 100%; padding: 0 2em;}
    header li {padding-left: 2.5em;}
    footer .footer-bar {padding: 0 2em; flex-direction: column; justify-content: space-around; align-items: flex-start;}
}