.header-container {
  height: 100px;
  display: flex;
  align-items: center;
	margin-left: 30px;
  margin-right: 30px;
}

.menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.menu-item {
  margin-left: 10px;
  font-size: 14px;
}

.language {
  margin-left: 10px;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 20px;
  background: black;
  color: white;
}

#main01 {
	background: url("../assets/image/01_SmartSpeaker/main.jpg") no-repeat center;
	height: 400px;
}

.img-wrapper {
	margin-bottom: 40px;
}

img {width: 100%;}

.main-container {
	margin-top: 20px;
}

.project-info {
	margin-top: 40px;
	border-radius: 20px;
	padding: 20px;
	border: 2px solid #efefef;
	margin-bottom: 50px;
}

/* 2. Make nav sticky */
main > nav {
	position: sticky;
	top: 2rem;
	align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: black;
	font-weight: 600;
	font-size: 14px;
}

/* Sidebar Navigation */
.section-nav {
	margin-top: 100px;
	margin-left: 40px;
	padding-left: 0;
	border-left: 1px solid #efefef;
	font-size: 14px;
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #ccc;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	font-weight: 600;
	color: #3CB371;
}

/** Poor man's reset **/
* {
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-left: 1rem;
}

h1 {font-weight: 600; line-height: 100%;}
h2 {line-height: 90%;}
h4 {font-size: 18px; font-weight: 600; line-height: 0%;}
h5 {font-size: 16px; font-weight: 400; }

/** page layout **/
main {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	display: grid;
	grid-template-columns: 1fr 15em;
	width: 70%;
	margin: 0 auto;
}

/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
	margin-bottom: 20rem;
}

.footer {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  background: #FAFAFA;
}

.footer-container {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
}

.footer-item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-right: 80px;
  font-size: 14px;
}

.copyright {
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  padding-top: 110px;
  font-size: 14px;
}

@media (max-width: 800px) {
	.section-nav { display: none; }
	main { display: flex; width: 90%;}
	.footer-container {flex-direction: column;}
	.copyright {margin-left: 0;}
}

@media (hover: hover) {
  a:hover {color: #3CB371;}
}
