.header-container {
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.menu {
  display: flex;
  margin-left: auto;
}

.menu-item {
  margin-left: 20px;
}

.main {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.graphics {
  width: 50%;
  height: 20em;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 20px;
}

.description {
  width: 50%;
  height: 20em;
  border: 1px solid black;
  border-radius: 4px;
}

.hashtag {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

input[type="radio"] {display: none;}

input[type="radio"] + label {
  margin-top: 10px;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background: #ccc;
  color: #999;
  border: 1px solid black;
  border-radius: 30px;
}

input[type="radio"] + label:hover {
  color: #2e9cdf;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background: #aaa;
  color: #000;
}

.conbox {
  margin-top: 20px;
  width: 100%;
  height: 600px;
  display: none;
  border: 1px solid black;
  border-radius: 4px;
}

input[id="tab01"]:checked ~ .con01 {display: block;}
input[id="tab02"]:checked ~ .con02 {display: block;}
input[id="tab03"]:checked ~ .con03 {display: block;}
input[id="tab04"]:checked ~ .con04 {display: block;}
input[id="tab05"]:checked ~ .con05 {display: block;}
input[id="tab06"]:checked ~ .con06 {display: block;}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
  .graphics {
    width: 100%;
  }
  .description {
    width: 100%;
    margin-top: 20px;
  }
}
