.container {
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.menu {
  display: flex;
  margin-left: auto;
}

.menu-item {
  margin-left: 20px;
}

.main {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.graphics {
  width: 50%;
  height: 300px;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 20px;
}

.description {
  width: 50%;
  height: 300px;
  border: 1px solid black;
  border-radius: 4px;
}

.hashtag {
      min-width: 320px;
      max-width: 800px;
      padding: 10px;
      border-radius: 7px;;
      background: #ffffff;}

  section {
      display: none;
      padding: 20px 0 0;
      border-top: 1px solid #ddd;}

  input {
        display: none;}

  label {
      display: inline-block;
      padding: 15px 25px;
      font-weight: 600;
      color: #bbb;
      border: 1px solid transparent;}

  label:hover {
      color: #2e9cdf;
      cursor: pointer;}

  /*input 클릭시, label 스타일*/
  input:checked + label {
        color: #555;
        border: 1px solid #ddd;
        border-top: 2px solid #2e9cdf;
        border-bottom: 1px solid #ffffff;}

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {display: block;}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }
  .graphics {
    width: 100%;
  }
  .description {
    width: 100%;
    margin-top: 20px;
  }
}
